<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/css/landing_page.css">
		<title>BookSwap Connect</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="/static/scripts/landing_page.js"></script>
	</head>
	<body>
		<div class="navbar">
			<a href="#home">Home</a>
			<a href="#about">About</a>
			<a href="#features">Features</a>
			<a href="#cta">Get Started</a>
			<a href="/login" class="login-button">Login</a>
			<a href="https://github.com/gitere001/Bookswap-connect" target="_blank">GitHub</a>
			<button class="menu-toggle">☰</button>
		</div>
		<header id="home">
			<section id="logo-background">
				<div class="overlay">
					<h1>BookSwap Connect</h1>
					<p>Uniting book enthusiasts, fostering connections, and facilitating literary exchanges—one swap at a time—to cultivate a thriving community of avid readers.</p>
				</div>
			</section>
		</header>

		<section id="intro">
			<h1>Welcome to BookSwap Connect</h1>
			<p>BookSwap Connect is your go-to platform for sharing and discovering books. Join a community of book lovers today!</p>
		</section>
		<section id="about">
			<h2>About Us</h2>
			<p>BookSwap Connect was founded with the mission to connect book lovers around the world. We aim to make it easy to share and discover new books, and to foster a community where readers can connect and support each other.</p>
			<p>Our mission is to cultivate a thriving community of avid readers who can exchange books, ideas, and experiences.</p>
			<p>Our team is passionate about reading and committed to creating the best experience for our users.</p>
			<p>Find the source code on <a href="https://github.com/gitere001/Bookswap-connect" target="_blank">GitHub</a></p>
		</section>
		<section id="features">
			<h2>Features</h2>
			<div class="feature-item">
				<h3>Swap Books</h3>
				<img src="/static/images/swap_books.jpeg" alt="Swap books with fellow readers" class="feature-image">
				<p>Exchange your books with fellow readers easily and find new favorites.</p>
			</div>
			<div class="feature-item">
				<h3>Discover New Books</h3>
				<img src="/static/images/discover_new_books.png" alt="Discover new literary works" class="feature-image">
				<p>Explore a vast collection of books shared by our community.</p>
			</div>
			<div class="feature-item">
				<h3>Connect with Readers</h3>
				<img src="/static/images/connect.jpg" alt="Connect with other like-minded readers" class="feature-image">
				<p>Join a network of book lovers and share your literary journey.</p>
			</div>
			<div class="feature-item">
				<h3>Donate Books</h3>
				<img src="/static/images/donate_books.png.jpeg" alt="Donate books to help other readers" class="feature-image">
				<p>Give your old books a new home and support other readers in their quest for knowledge.</p>
			</div>
		</section>

		<section id="cta">
			<h2>Get Started</h2>
			<a href="/signup" class="button">Sign Up Now</a>
		</section>
		<footer>
			<p>Contact Us: info@bookswap.com</p>
			<p>Follow us on:</p>
			<a href="https://facebook.com" target="_blank">
				<img src="static/images/facebook_logo.png" alt="Facebook logo" class="social-logo"></a>
			<a href="https://twitter.com" target="_blank">
				<img src="static/images/twitter_logo.png" alt="Twitter logo" class="social-logo"></a>
			<a href="https://instagram.com" target="_blank">
				<img src="static/images/instagram_logo.jpeg" alt="Instagram logo" class="social-logo"></a>
			<p>Find the source code on <a href="https://github.com/gitere001/Bookswap-connect" target="_blank">GitHub</a></p>
			</footer>
		</footer>
	</body>
</html>
