<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="/static/css/message.css">
</head>
<body>
    <button class="home-button" onclick="window.location.href='/home';">Go to Home</button>
    <h2>Messages</h2>
    <div class="message-container">
        <div class="chat-list">
            <!-- List of chats will be populated here -->
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetchChats();
        });


        function fetchChats() {
            fetch('/fetch_chats')
                .then(response => response.json())
                .then(chats => {
                    const chatList = document.querySelector('.chat-list');
                    chatList.innerHTML = '';

                    chats.forEach(chat => {
                        const chatItem = document.createElement('div');
                        chatItem.classList.add('chat-item');
                        chatItem.innerHTML = `
                            <a href="/chat?recipient_id=${chat.id}" class="chat-link">${chat.other_user}</a>
                        `;
                        chatList.appendChild(chatItem);
                    });
                })
                .catch(error => console.error('Error fetching chats:', error));
        }
    </script>
</body>
</html>
