* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
.title-page {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 16px;
    background-color: #004080;
    color: #fff;
}
.logo {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}
.greeting {
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}
.navbar ul {
    display: flex;
}
.navbar li {
    margin-right: 10px;
}
.navbar a {
    color: #fff;
    padding: 10px 12px;
    top: 0;
    width: 100%;
    z-index: 1000;
    float: left;
    display: block;
    font-size: 22px;
}
.navbar a:hover {
    text-decoration: underline;
}
.search-bar {
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.search-bar input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}
.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}
.search-bar button:hover {
    background-color: #0056b3;
}
main {
    padding: 20px;
    flex-wrap: wrap;
}
#background-photo {
    background-image: url('../images/background.png');
    background-position: 100%;
}
.available-books a {
    padding: 5px 5px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    padding-top: 5px;
}
.available-books a:hover {
    background-color: #218838;
}
.add-book-button a {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
}
.view-swap-requests a {
    padding: 5px 10px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 5px;
    color: white;
}
.add-book-button a:hover {
    background-color: #218838;
}
.view-swap-requests a:hover {
    background-color: #218838;
}
.search-container {
    margin-left: 600px;
    clear: both;
}
.recommended-container {
    margin-top: 10px;
}
.search-books-list,
.recommended-books-list {
    display: flex;
    flex-wrap: wrap;
}
.recommended-book,
.search-book {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    margin-right: 20px;
    position: relative;
}
.search-book:nth-child(2n),
.recommended-book:nth-child(2n) {
    margin-right: 0;
}
.search-book .cover,
.recommended-book .cover {
    width: 30%;
    position: relative;
    overflow: hidden;
}
.search-book .cover img,
.recommended-book .cover img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.search-book .details,
.recommended-book .details {
    padding: 10px;
    flex: 1;
}
.search-book h3,
.recommended-book h3 {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 5px;
}
.search-book p,
.recommended-book p {
    margin: 5px 0;
}
.search-book button,
.recommended-book button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 3px;
}
.swap-button {
    padding: 5px 10px;
    background-color: #126b06;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 3px;
}
.search-book button:hover,
.recommended-book button:hover {
    background-color: #0056b3;
}
footer {
    background-color: #d3dde7;;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}
footer a {
    color: #007bff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.footer-links {
    display: flex;
    align-items: center;
}
.footer-links h4 {
    margin-right: 10px;
}
.footer-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
/* Modified CSS to handle expanding book details */
.recommended-book.expanded,
.search-book.expanded {
    flex-direction: column;
    align-items: stretch;
}
.book-details {
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}
.book-details.expanded {
    display: flex;
}
.book-details p {
    margin: 5px 0;
}
.book-details button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}
.book-details button:hover {
    background-color: #0056b3;
}

#back-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0ad4e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

#back-button:hover {
    background-color: #ec971f;
}
