/* swap_requests.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: #062545;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.home-button {
    margin: 20px;
}

#swap-requests {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3.header {
    text-align: center;
    font-size: 24px;
}

#incoming-requests, #your-requests {
    margin-bottom: 40px;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #007bff;
    display: inline-block;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead th {
    background-color: #0b4a8e;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

.accept-request-btn, .decline-request-btn, .message-request-btn {
    margin-right: 10px;
    font-size: 14px;
}

.accept-request-btn {
    background-color: #28a745;
}

.accept-request-btn:hover {
    background-color: #218838;
}

.decline-request-btn {
    background-color: #dc3545;
}

.decline-request-btn:hover {
    background-color: #c82333;
}

.message-request-btn {
    background-color: #17a2b8;
}

.message-request-btn:hover {
    background-color: #138496;
}
